body{
    background: linear-gradient(
45deg, var(--bs-yellow), #9c27b0);
}
main{
    margin-top:30px ;
    align-items: center;
    width: 80%;
    background-color: lawngreen;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

header{
    display: flex;
    margin: 50px;

}



footer{
    background-color: black;
    


}
footer h3{
   text-align: center;
   height: 30px;
 color: aliceblue;
   margin-top: 30px;
   width: 99%;
   font-size: 20px;
   line-height: 30px;
   padding: 10px;
}
footer p{
   text-align: center;
 color: aliceblue;
  
   width: 99%;
   font-size: 20px;
   padding: 10px;
   
}

.card{
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.card-img-top{
    height: 250px;
}
.d-block{
    height: 500px;
}
#ar, #en {
    border: 0;
   padding: 0px 10px;
   background-color: rgb(218, 223, 224);
    margin: 3px;

}
